
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#controllers .btn {
  outline: none;
}

#tool-tip {
  opacity: 0;
  position: absolute;
  max-width: 250px;
  min-width: 200px;
  border: 1px solid #CA9536;
  background-color: rgba(252, 194, 48, 0.91);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.31);
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 13px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

  &.visible { opacity: 1; }

  .title { font-weight: 700; }
}



/*--------------- Axes ---------------------*/

@borderColor: rgb(171, 171, 171);

.axis-group {
  position: absolute;
  color: gray;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &.visible { opacity: 1; }
}

.y-axis {
  top: 20%;
  left: 3%;
  bottom: 10%;
  padding-right: 13px;
  border-right: 1px solid @borderColor;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .node {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1;
    flex: 1;
  }
}

.x-axis {
  bottom: 44px;
  left: 8%;
  right: 8%;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  border-top: 1px solid @borderColor;
  padding-top: 5px;
  color: gray;
  overflow: hidden;

  .node {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex: 1;
    flex: 1;
  }
}


/*--------------- Circles ---------------------*/

circle.book-node:hover {
  stroke-width: 3;
}

/*---------- Colors generation ---------------*/

@score1: #a8ff0d;
@score2: #fff710;
@score3: #ff6410;
@score4: #ff0800;

@color_step: 1.5;

.generate-score1(@n, @i: 0) when (@i =< @n) {
  .score-1.group-@{i} {
    @fill: darken( @score1, @i * 1);

    fill: @fill;
    stroke: darken( @fill, 10% );
  }
  .generate-score1(@n, (@i + 1));
}

.generate-score2(@n, @i: 0) when (@i =< @n) {
  .score-2.group-@{i} {
    @fill: darken( @score2, @i * @color_step);

    fill: @fill;
    stroke: darken( @fill, 10% );
  }
  .generate-score2(@n, (@i + 1));
}

.generate-score3(@n, @i: 0) when (@i =< @n) {
  .score-3.group-@{i} {
    @fill: darken( @score3, @i * @color_step);

    fill: @fill;
    stroke: darken( @fill, 10% );
  }
  .generate-score3(@n, (@i + 1));
}

.generate-score4(@n, @i: 0) when (@i =< @n) {
  .score-4.group-@{i} {
    @fill: darken( @score4, @i * @color_step);

    fill: @fill;
    stroke: darken( @fill, 10% );
  }
  .generate-score4(@n, (@i + 1));
}

.generate-score1(9);
.generate-score2(9);
.generate-score3(9);
.generate-score4(9);
